<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">🛍 OnlineShop</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkout" routerLinkActive="active">Checkout</a>
      </li>
    </ul>
  </div>
  <a class="nav-link position-relative" routerLink="/cart" routerLinkActive="active">
  <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart
  <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
    {{ cartCount }}
  </span>
</a>
</nav>
